.mainPostContainerWrapper{
    display: flex;
flex-direction: column;
align-items: center;
}
.mainPostContainerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(56, 56, 56);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);    
}
.post__top{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: c;
    padding: 15px;
    width: 100%;
}
.edit{
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
}
.delete{
    position: absolute;
    margin: 10px;
    right: 0;
    bottom: 0;
}
.post__avatar{
    margin-right: 10px;
}
.post__topInfo > h3 {
    margin-left: 10px;
    font-size: medium;
}
.post__image > img{
    width: 450px;
    border-radius: 15px;
    height: 400px;
    object-fit: cover;
}

.post__options{
    padding-top: 10px;
    border-top: 1px solid rgb(85, 85, 85);
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: pink;
    cursor: pointer;
    padding: 15px;    
}

.post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    transition: all .3s ease-in;
    flex: 1;
}

.post__option > p {
    margin: 10px;
}

.post__option:hover{
    color: black;
    background-color: #595959;
    border-radius: 10px;
}
.date{
    font-size: 12px;
    color: gray;
}

.title_name {
    font-size: 12px;
  color:rgb(142, 142, 142);
}

.message {
    font-size: 16px;
  color:rgb(255, 253, 253);
}